body {
    padding: 20px;
  }
  
.App {
  margin: 0 auto;
  width: 400px;
}
  
.App > section {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.W11App {
  max-width: 500px;
  width : 100%;
  margin : 0 auto;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}